#work-pane {
  position: absolute;
  background-color: rgb(243, 243, 243);
  top: 50%;
  left: 50%;
  z-index: 30;
  height: calc(100vh - 2em);
  width: calc(100vw - 2em);
  transition: transform 350ms ease-in-out;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 30%);
  overflow: auto;
}

#work-pane.local-is-hidden {
  transition: transform 350ms ease-in-out;
  transform: translate(-160%, -50%);
}

body.scroll-disabled {
  height: 100vh;
  overflow: hidden;
}